/results_week_1
/results_week_1_pic
Report.docx
/results_week_2
/results_week_2_pic
/results_week_3
/results_week_3_pic
/results_week_4
/results_week_4_pic
/fixed_step_1
/fixed_step_1_pic
/results_week_2_pic_old
/Res
